.custom-pagination {
  .page-item {
    margin: 0 0.3rem;
    
    .page-link {
      color: var(--font-color);
      background-color: var(--white-color);
      border-color: var(--border-color);
      border-radius: 0.4rem;
      
      &:hover {
        background-color: var(--card-hover);
        border-color: var(--border-color);
        color: var(--link-hover);
      }
    }
    
    &.active .page-link {
      background-color: var(--primary-color);
      border-color: var(--primary-border);
      color: var(--primary-text);
      
      &:hover {
        background-color: var(--primary-hover);
      }
    }
    
    &.disabled .page-link {
      color: var(--text-muted);
      background-color: var(--white-color);
      border-color: var(--border-color);
    }
  }
}
